/*** ******************************************* ***/

body {
    /* display: flex; */
    /* flex-direction: column; */
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

/*** ******************************************* ***/

@font-face {
    font-family: 'yzy';
    src: url('other/yzy.ttf') format('truetype');
    font-display: swap; 
}

.yzy-header {
    font-family: 'yzy', Arial, sans-serif;
    font-size: 30px;
}

.yzy-txt {
    font-family: 'yzy', Arial, sans-serif;
    font-size: 20px;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    /* flex: 1; */
    height: 100vh;
}

.white-section {
    background-color: white;
}

.green-section {
    position: relative; /* Set the container as the positioning context */
    background-color: green;
    color: white;
    height: 100vh; /* Ensure it fills the viewport height */
}

.green-section p {
    position: absolute;
    bottom: 50%;
    right: 50%;
    font-size: 20px;
}

.silent {
    position: absolute; 
    top: 18%; 
    left: 40%; 
    width: 300px; 
}

.paris {
    position: absolute; 
    top: 18%; 
    left: 20%; 
    width: 366px; 
}

.milla {
    position: absolute; 
    top: 18%; 
    left: 56.5%; 
    width: 525px; 
}